figure .profile-img{
  border-radius: unset;
}
.bio-wrapper .cardWrapper > div{
  flex-basis: 33%;
}
.course-information{
  width: 100%;
  padding: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.course-information li{
  width: 100%;
  display: grid;
  grid-template-columns: 150px 150px;
  padding: .5rem;
  overflow-x: auto;
  white-space: nowrap;
  margin: .5rem 0;
}
.course-permissions,
.course-description{
  width: 100%;
  padding: 2rem;
}
.user-comments{
  padding: 2.5rem 0;
}
.user-comments .heading, 
.user-comments .row{
  width: 100%;
  display: grid;
  grid-template-columns: 120px 150px 450px 150px;
  align-items: center;
  padding: 2rem 3rem;
}
.user-comments .row{
  padding: 1rem 3rem;
}
.user-comments .rating{
  display: inline-flex;
}
.user-comments .row img{
  width: 40%;
}
.recent-courses .heading, 
.recent-courses .row{
  width: 100%;
  display: grid;
  grid-template-columns: 120px 250px 150px 170px 110px 85px;
  align-items: center;
  padding: 2rem 3rem;
}
.recent-courses .row{
  padding: 1rem 3rem;
}
.recent-courses .course{
  margin-left: 2rem;
}
.recent-courses .rating{
  display: inline-flex;
}
.recent-courses .row img{
  width: 80%;
}
@media screen and (max-width: 1100px){
  .bio-wrapper .cardWrapper  div{
    flex-basis: 50%;
  }
}