#overview .card{
  flex-direction: row;
  overflow: unset;
  padding: 2rem;
  margin: 1rem;
}
#overview .chart-wrapper{
  flex-basis: 100%;
  margin-top: 3rem;
}
#overview .chart-wrapper label{
  cursor: pointer;
  font-size: 1.6rem;
}
#overview .card-title{
  width: 100%;
}
#overview .chart{
  padding: 2rem;
  width: 80%;
}

/* date picker styles */
.datepicker-calendar{
  padding: 2rem;
}
.datepicker-date-display,
.datepicker-table td.is-selected{
  background-color: #fff;
}
.datepicker-date-display .date-text,
.dropdown-content li>a, 
.dropdown-content li>span,
.select-wrapper input.select-dropdown
{
  color: var(--grey);
  font-weight: 700;
}
.datepicker-cancel,
.datepicker-done,
.datepicker-table abbr,
.datepicker-table td.is-selected{
  color: var(--primary);
}
.datepicker-table th,
.datepicker-table td,
.datepicker-cancel,
.datepicker-done{
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: 700;
}
.select-wrapper input.select-dropdown{
  font-size: 1.6rem;
  line-height: 2em;
  font-weight: 700;
}
.datepicker-table td.is-selected {
  font-size: 1.6rem;
  font-weight: 700;
}
.datepicker-controls .select-month input {
  width: 90px;
}
@media screen and (max-width: 500px){
  #overview .chart{
    width: 100%;
  }
}