/* overview section */
#overview .card{
  flex-direction: row;
  overflow: unset;
  padding: 2rem;
  margin: 1rem;
}
#overview > div:first-of-type{
  padding: 0;
}
#users .heading, 
#users .row{
  grid-template-columns: 100px 240px 240px 90px 70px;
}
/* courses section */
#courses .heading, 
#courses .row{
  width: 100%;
  display: grid;
  grid-template-columns: 250px 150px 170px 110px 85px;
  align-items: center;
  padding: 2rem 3rem;
}
#courses .course{
  margin-left: 2rem;
}
#courses .rating{
  display: inline-flex;
}
/* Course Providers section */
#courseProviders .heading, 
#courseProviders .row{
  width: 100%;
  display: grid;
  grid-template-columns: 300px 150px 150px 150px;
  align-items: center;
  padding: 2rem 3rem;
}
/* Statistics section */
#statistics .card-title{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#statistics .card{
  flex-basis: 48%;
  overflow: unset;
}
