figure{
  position: relative;
}
figure img.profile-img{
  width: 20rem;
  height: 20rem;
}
.courseProfileImg{
  position: absolute;
  z-index: 999;
  bottom: -20px;
  right: -20px;
}
.courseProfileImg label svg{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.cardWrapper .edit-course{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-wrapper{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
.form-wrapper > div{
  flex-basis: 48%;
  flex-grow: 1;
  margin: .8rem;
}
.form-wrapper .card{
  padding: 3.5rem;
}
.form-wrapper .card > span{
  width: 100%;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}
.edit-course input,
.edit-course textarea{
  border: 1px solid #D1E1FE;
  border-radius: 4rem;
  outline: none;
  background-color: inherit;
  padding: 1rem 1.5rem;
  width: 100%;
  margin: .7rem 0;
  transition: all .2s ease;
}
.edit-course input ~ label{
  color: #bdbdbd;
  padding-left: 1.5rem;
  transition: all .2s ease;
  margin: 0;
}
.edit-course input::placeholder,
.edit-course textarea::placeholder{
  color: #bdbdbd;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.edit-course textarea{
  border-radius: 2.4rem;
}
.edit-course input:focus,
.edit-course input:active,
.edit-course textarea:focus,
.edit-course textarea:active{
  border-color: var(--primary);
}
.edit-course input:focus ~ label,
.edit-course input:active ~ label{
  color: var(--primary) !important;
}
.edit-course button{
  margin-top: 4rem;
}
.edit-course .edit-rating{
  width: 100%;
  padding-left: 1.5rem;
  color: #bdbdbd;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: .7rem 0;
}
.edit-rating span{
  display: inline-flex;
  padding: 0 1rem;
}
.edit-rating span svg{
  cursor: pointer;
  margin: 0 .2rem;
}
.shade{
  fill: var(--primary);
}

@media screen and (max-width: 1040px){
  .cardWrapper .form-wrapper{
    flex-direction: column;
  }
}

