.accordion .card-header h2{
  width: 95%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.card-header h2:focus{
  outline: none;
}
.accordion > .card > .card-header{
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #D1E1FE;
  border-radius: 4rem;
  cursor: pointer;
  background-color: inherit;
  transition: border .3s ease;
}
.accordion > .card > .card-header + div{
  margin: 1rem 0;
}
.accordion > .card > .card-header:focus,
.accordion > .card > .card-header:hover{
  outline: none;
  border-color: var(--primary)
}
.accordion > .card > .card-header:hover .btn{
  outline: none;
}
.btn{
  border: none;
}
.btn:focus,
.btn:hover{
  outline: none;
  text-decoration: none;
  border: none;
  box-shadow: none;
}